body {
 font-family: 'Montserrat', 'Arial', sans-serif;
 background-image:
 background-color: white;
 margin-left:20px;

}

.emblem {
 float: left;
 margin-left: 70px;
 vertical-align: top;
 margin-top: -10px;
}

.site-navigation {
 text-align: center;
 margin-right: 30px;
 margin-top: 50px;
}

.notnowpage {
 font-weight: 400;
 color: #5c5c5c;
 text-decoration: none;
}

.invite{
 font-size: 25px;
 margin-top: 100px;
 text-align: left;
 margin-left: 50px;
}

.main-text {
 padding: 10px;
 line-height: 37px;
 margin-left: 90px;
 font-size: 17px;
}

.vvod {
 background-color: #696969;
 color: white;
 margin-left: -15px;
 font-size: 20px;
}

.obshee {
 text-align: right;
 position: absolute;
 right:0;
 top:150px;
}

.obshee-cap {
 margin-right: 37%;
 color: #5c5c5c;
 text-decoration: italic;
}

.up {
 font-size: 25px;
 text-align: center;
}

footer {
 /*position: absolute;*/
 bottom: 10px;
 font-size: 20px;
 text-align: center;
}

.vitrina-1 {
 margin-top: 100px;
 margin-right: 80 px;
 margin-left: 80px; /*+260*/
}

.vitrina-2 {
 margin-top: -577px;
 margin-right: 80 px;
 margin-left: 340px;
}

.vitrina-3 {
 margin-top: -577px;
 margin-right: 80 px;
 margin-left: 600px;
}

.vitrina-4 {
 margin-top: -577px;
 margin-right: 80 px;
 margin-left: 860px;
}

.vitrina-5 {
 margin-top: -577px;
 margin-right: 80 px;
 margin-left: 1120px;
}

.tarif {
 background-color: #696969;
 color: white;
 margin-top: 65px;
 font-size: 20px;
 margin-bottom: 20px;
}

table {
 margin-top: 50px;
 background-image: url('images/fons.png')
}

.kormim {
 margin-left: 250px;
 margin-top: 50px;
 width: 300px;
}

.picnic {
 margin-top: 50px;
 width: 300px;
 margin-left: 40px;
 margin-right: 40px;
}

.photo {
 margin-top: 50px;
 width: 300px;
 margin-left: 60px;
 /*margin-right: 230px; */
}

.novphoto {
 text-align: center;
 height: 400px;
}

.domoi {
 text-align: center;
}

.passport {
background-image: url('images/passport.jpg')
}
